@{
    Layout = null;
    Html.AddTitleParts("Party Games Online");

    //js
    Html.AppendScriptPart("~/bundles/core/js");

    //css
    Html.AppendStylePart("~/bundles/core/css");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.GenerateTitle()</title>
    @Html.GenerateFavicon()
    @Html.GenerateStyles()
    @Html.GenerateScripts()
</head>
<body>
    @RenderBody()
</body>
</html>